# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages used by Data Scienctists
* List commonly used libraries by Data Scientists 
* List commonly used IDE tools by Data Scientists 
* Examples of Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. Scala
5. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn

| Country Name |
| -------------|
| Jupyter Notebooks |
| R Studio |
| Jupyterlab |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
## This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [5]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kalyan Ram Murthy Rama Raju